<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

  <bean id="emp" class="com.spring.autowiring.Employee" autowire="constructor">
  
	<constructor-arg name="empId" value="123"></constructor-arg>
	<constructor-arg name="empName" value="Stella"></constructor-arg>
	<constructor-arg name="empDesg" value="Trainer"></constructor-arg>
	<constructor-arg name="empSal" value="150000"></constructor-arg>
	<!-- <constructor-arg name="address"  ref="add"></constructor-arg>
 -->
</bean>
 <bean id="add" class="com.spring.autowiring.Address">
  
	<constructor-arg name="hno" value="12345"></constructor-arg>
	<constructor-arg name="colony" value="sr"></constructor-arg>
	<constructor-arg name="city" value="hyd"></constructor-arg>
	<constructor-arg name="pincode" value="500004"></constructor-arg>
	
</bean>
 </beans>